.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*width: fit-content;*/
    background-color: #fff9f938;
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
    width: 221px;
}

.time {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
}

.icon-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    /*margin-left: 4px;*/
}

.icon {
    width: 55px;
    height: 55px;
    /*margin-right: 1px; !* Space between icon and temperature *!*/
    margin-left: 1px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: cornsilk;
}

.temp {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
    background-color: white;
    color: black;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
}

.short-forecast {
    white-space: normal;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 3px;
}

.wind {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
    text-align: inherit;
}

@media (max-width: 768px) {

    .forecast-item {
        /*width: 62px;*/
        /*height: 79px;*/
        margin-top: 2px;
        margin-left: 0;
        margin-right: 0;
        padding: 2px;
        width: unset;
    }

    .time {
        font-size: 16px;
        margin-top: 3px;
        margin-bottom: 2px;
        margin-left: 2px;
        text-align: left;
        /*align-self: flex-start;*/
    }

    .icon {
        /*display: none;*/
        width: 28px;
        height: 28px;
        margin-top: 4px;
        margin-right: 2px;
        margin-left: 0;
    }
    .temp {
        font-size: 17px;
        margin-top: 4px;
        margin-left: 3px;
        padding-bottom: 1px;
        /*text-align: left;*/

    }

    .short-forecast {
        font-size: 16px;
        margin-top: 3px;
        margin-bottom: 5px;
        font-weight: bold;
        /*margin-bottom: 7px;*/
        /*padding-bottom: 7px;*/
    }

    .wind {
        display: none;
    }
}