.forecast-item {
    width: 150px;
    /*height: 90px;*/
    background-color: #fff9f938;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.time {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.icon-temp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 4px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Space between icon and temperature */
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: cornsilk;
}

.temp {
    font-size: 19px;
    font-weight: bold;
    margin-left: 11px;
    background-color: white;
    color: black;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
}

.short-forecast {
    font-size: 12px;
    margin-top: 3px;
}

.wind {
    font-size: 12px;
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
}

@media (max-width: 768px) {

    .forecast-item {
        width: 62px;
        height: 66px;
        margin-top: 2px;
    }

    .time {
        font-size: 11px;
        margin-top: 1px;
        margin-bottom: 2px;
        margin-left: 2px;
        text-align: left;
        align-self: flex-start;
    }

    .icon {
        display: none;
        margin-left: 0;
    }
    .temp {
        font-size: 12px;
        margin-top: 3px;
        margin-left: 0;
        padding-bottom: 1px;
        text-align: left;

    }

    .short-forecast {
        font-size: 12px;
        margin-top: 0;
        margin-left: 6px;
        text-align: left;
        width: 65px;
    }

    .wind {
        display: none;
    }
}