
.dialog-header {
    /*width: 100%;*/
    width: calc(100% + 30px);
    display: flex;
    justify-content: flex-end;

    background-color: #b1b1b1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;

    padding-right: 20px;
    padding-left: 10px;
    position: relative;
    left: -20px;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    /*margin-right: -21px;*/
    padding-top: 3px;
    padding-right: 13px;
    padding-left: 13px;
}



.close-button:hover {
    color: white;
    background-color: #d12222e0;
}


/* ================================== {*/

.top-bar {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 35px;
    background-color: #333;
    z-index: 1000;
}

.linked-link-bar {
    margin-left: 23px;
    margin-top: 11px;
    font-size: 15px;
    color: white;
}

.linked-link-bar a {
    font-weight: bold;
    color: #00c2ff;
}

.about-button {
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: white;
    margin-top: 6px;
    margin-right: 50px;
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: #333;
    z-index: 1000;
}

.linked-link a {
    color: #00a0dc;
    font-weight: bold;
}

.weather-widget{
    position: relative; /* Ensure the spinner-container aligns with this parent */
    background: #00000091;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 62px;
    /*max-width: 50px;*/
    min-width: 800px;
    border: 1px solid;
    border-color: #fbfbfbbf;
    border-radius: 13px;
    /*box-shadow: 1px 1px 10px #fbfbfb;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    /*padding: 5px;*/
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 999;
}

.about-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 80vh; /* Ensures it never overflows the viewport */
    overflow-y: auto; /* Enables scrolling inside the dialog */
    overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    --shadow-color: aquamarine;
    box-shadow: 0 0 7px 1px var(--shadow-color);
    border-radius: 8px;
    width: 40%;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    z-index: 1000;
}

.top-category{
    margin-top: 5px;
    margin-bottom: 0;
}

.bottom-category{
    margin-top: 5px;
    margin-bottom: 0;
}

.about-dialog ul{
    margin-top: 1px;
    margin-bottom: 22px;
}

.other-categories{
    margin-top: 5px;
    margin-bottom: 0;
}

.dialog-content {
    text-align: left;
}

.button-row {
    display: flex;
    align-items: center; /* Align elements vertically in the center */
    justify-content: space-between; /* Space between the elements */
    margin-top: 20px;
}

.linked-link {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.linked-link a {
    font-weight: bold;
    color: #0035ff;
}

.ok-button {

    padding: 8px 16px;
    background-color: #f2f2f2;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #000000cc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}



.ok-button:hover {
    background-color: rgba(157, 155, 155, 0.37);
}


@media (max-width: 768px) {

    .close-button {
        /*margin-right: -3px;*/
        padding-top: 3px;
        font-size: 20px;
    }

    .dialog-header {
        width: calc(100% + 14px);
        margin-bottom: 3px;
    }

    .about-dialog {

        top: 50%;
        left: 50%;
        width: 88%;
        padding: 4px;
        padding-top: 0;
    }

    .linked-link-bar {
        margin-left: 14px;
    }

    .top-category{
        margin-top: 1px;
        margin-bottom: 0;
    }

    .other-categories{
        margin-top: 1px;
        margin-bottom: 0;
    }

    .about-dialog ul{
        margin-bottom: 6px;
    }

    .weather-widget {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 44px;
        padding-bottom: 7px;
        padding-left: unset;
        padding-right: unset;
        min-width: 0;
    }

    .linked-link {
        margin-left: 10px;
        font-size: 15px;
    }

    .button-row {
        margin-top: 10px;
    }

    p{
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .about-button {
        font-size: 15px;
        margin-right: 10px;
    }

}