
:host { color: white;}


.city-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-state {
    font-size: .9rem; /* Slightly larger for prominence */
    color: white; /* Match the theme of the weather widget */
    margin: 5px 0; /* Add vertical spacing */
    text-align: left; /* Center the text within the widget */
}

.time-text {
    margin-left: auto;
    color: #c8c7c7;
    font-size: 0.7rem;
    text-align: right;
}

.weather-details {
    display: flex;
    /*align-items: center; */
    align-items: flex-start;
    gap: 15px;
}

img {
    width: 10vw; /* 10% of the viewport width */
    height: auto; /* Maintain aspect ratio */

    max-width: 58px; /* Set a maximum width */
    margin-top: 3px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: cornsilk;
}

span {
    font-size: .9em; /* Adjust the size of the text */
    color: #333; /* Change the color if needed */
    /*font-weight: bold; !* Make it bold for emphasis *!*/
}

.temp-wind-container {
    display: flex;
    flex-direction: column; /* Stack the temp-text and wind-text vertically */
    align-items: flex-start; /* Align items to the left within the container */
    margin-left: 10px; /* Add spacing from the left */
    align-self: flex-start;
}

.temp-wind-text {
    margin-top: 7px;
    font-size: 17px;
    color: white;
    align-self: flex-start;
}

/*.wind-text{*/
/*    color: #f30909;*/
/*    margin-top: 5px;*/
/*    font-size: .9rem;*/
/*}*/

.forecast-text {
    /*margin-left: 12px;*/
    font-size: 17px;
    margin-bottom: 1px;
    margin-top: 10px;
    color: white;
    text-align: left;
    flex: 1;
    display: block;
}

.hourly-forecasts {
    display: flex;
    margin-top: 9px;
    margin-bottom: 9px;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    gap: 10px;
}




@media (max-width: 768px) {

    .city-state {
        font-size: 0.7rem; /* Scale down for smaller screens */
        margin: 3px 0; /* Reduce spacing */
    }

    .time-text {
        font-size: 0.5rem; /* Reduce font size slightly */
        margin: 2px 0; /* Adjust margin for better spacing */
        text-align: right; /* Ensure proper alignment */
    }

    img {
        width: 10vw; /* Slightly larger percentage for smaller screens */
        max-width: 50px; /* Reduce maximum width */
        margin-top: 5px;
    }

    .temp-wind-text {
        font-size: 0.7em;
        margin-top: 4px;
    }

    span {
        font-size: 0.7em; /* Slightly smaller font size */
    }

    .forecast-text {
        font-size: 0.7rem; /* Smaller text for smaller screens */
        margin-top: 5px;
        margin-left: 0;
    }


}