
:host { color: white;}


img {
    width: 10vw; /* 10% of the viewport width */
    height: auto; /* Maintain aspect ratio */

    max-width: 68px; /* Set a maximum width */
    margin: 7px 0;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: chocolate;
}

span {
    font-size: 1.2em; /* Adjust the size of the text */
    color: #333; /* Change the color if needed */
    font-weight: bold; /* Make it bold for emphasis */
}

.temp-text {
    margin: 10px;
    margin-left: 8px;
    color: white;
    align-self: flex-start;
}
.forecast-text {
    margin-left: 12px; /* Add spacing between the elements */
    font-size: 1rem; /* Adjust the font size for readability */
    color: white; /* Match the text color */
    text-align: left; /* Ensure the text is aligned properly */
    flex: 1; /* Allow the text to take up remaining space */
    display: block; /* Ensure it behaves as a block-level element */
}

.time-text {
    /*position: absolute; !* Position the text relative to the component *!*/
    bottom: 0; /* Align it to the bottom */
    right: 0; /* Align it to the right */
    font-size: 0.7rem; /* Make the text smaller */
    color: #9e9e9e; /* Use a subtle color to differentiate it */
    margin: 4px; /* Add some spacing from the edges */
    text-align: right; /* Align the text to the right */
}