<div class="city-time-container">
    <p class="city-state">{{ weatherData?.cityState }}</p>
    <p class="time-text">{{ weatherData?.time }}</p>
</div>
<div class="weather-details">
    <img *ngIf="weatherData?.iconURL" [src]="weatherData?.iconURL" alt="Weather Icon">
    <div class="temp-wind-container">
        <span *ngIf="weatherData?.tempFahrenheit || weatherData?.wind" class="temp-wind-text">
            {{ weatherData?.tempFahrenheit }}°F - {{ weatherData?.wind }}
        </span>
        <p class="forecast-text">{{ weatherData?.forecastCurrent }}</p>
    </div>
</div>
