
:host { color: white;}


.city-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-state {
    font-size: .9rem; /* Slightly larger for prominence */
    color: white; /* Match the theme of the weather widget */
    margin: 5px 0; /* Add vertical spacing */
    text-align: left; /* Center the text within the widget */
}

.time-text {
    margin-left: auto;
    color: #c8c7c7;
    font-size: 0.7rem;
    text-align: right;
}

.weather-details {
    display: flex;
    /*align-items: center; */
    align-items: flex-start;
    gap: 3px;
}

img {
    width: 15vw;
    height: auto;

    max-width: 100px;
    margin-bottom: 6px;
    margin-top: 3px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: cornsilk;
}

span {
    font-size: .9em;
    color: #333;
}

.temp-wind-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    align-self: flex-start;
}

.temp-text {
    font-weight: bold;
    color: black;
    font-size: 32px;
    background-color: white;
    padding-left: 2px;
    padding-right: 5px;
    margin-top: 4px;

}

.temp-wind-text {
    margin-top: 7px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    align-self: flex-start;
}


.forecast-text {
    /*margin-left: 12px;*/
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 9px;
    margin-top: 10px;
    color: white;
    text-align: left;
    flex: 1;
    display: block;
}

.hourly-forecasts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

app-hourly-forecast {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*width: 100%; !* Makes sure all items take equal width *!*/
}

.hourly-row {
    display: flex;
    justify-content: center;
    white-space: nowrap;

    gap: 10px;
}

app-hourly-forecast {
    flex: 0 0 auto;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.spinner {
    border: 10px solid #fd090985;
    border-top: 10px solid #34ff01;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotating animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 768px) {

    .city-state {
        font-size: 0.7rem;
        /*margin: 3px 0; */
        margin-left: 8px;
    }

    .time-text {
        font-size: 0.5rem; /* Reduce font size slightly */
        /*margin: 2px 0; !* Adjust margin for better spacing *!*/
        margin-right: 13px;
        text-align: right; /* Ensure proper alignment */
    }

    .hourly-forecasts {
        gap: 1px;
    }

    img {
        width: 15vw;
        max-width: 80px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: unset;
    }

    app-hourly-forecast {
        flex: 1 1 calc(50% - 10px); /*  Ensures 2 items per row when wrapped */
        max-width: calc(50% - 10px); /*  items from being too wide */
        justify-content: center;
        gap: 10px;
    }

    .hourly-row{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2px;
        gap: 3px;
    }

    .temp-wind-text {
        /*font-size: 0.7em;*/
        font-size: 23px;
        margin-top: 4px;
    }

    span {
        font-size: 0.7em;
    }

    .forecast-text {
        font-size: 23px;
        margin-top: 5px;
        margin-right: 2px;
        margin-left: 0;
        margin-bottom: 7px;
    }

    .spinner {
        /*border: 6px solid #fd090985;*/
        /*border-top: 6px solid #30ff01;*/
        width: 25px;
        height: 25px;

    }

}
