.rss-feed {
    /*margin: 2em 0;*/
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
    /*margin-bottom: 2in;*/
    /*width: 300px;*/
    min-width: 800px;
    padding-left: 15px;
    border: 1px solid #fff504fc;
    border-radius: 8px;
    background-color: #fbfbfbbf;
    margin-bottom: calc(70px);
}

.rss-feed h2 {
    font-size: 40px;
    color: #333;
    font-family: monospace;
    /*padding: 10px;*/
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.rss-feed h3 {
    font-size: 26px;
    font-family: monospace;
    /*margin: 1em 0 0.5em 0;*/
    margin-top: 13px;
    margin-bottom: 5px;
    margin-right: 11px;

    /*color: #0141ff;*/
    /*border-bottom: 2px solid #ddd;*/
    /*padding-bottom: 0.2em;*/
    text-decoration: underline;
    /*background-color: #ff03033b;*/
}

.rss-feed ul {
    list-style: none;
    padding: 1px;
    margin-top: 0;
    /*margin: 0;*/
    /*margin-bottom: 50px;*/
    /*padding-bottom: 50px;*/
}

.description {
    margin-top: 13px;
    margin-bottom: 1px;
    margin-right: 3px;
}

.rss-feed ul li {
    color: black;
    font-weight: bold;
    margin-bottom: 50px;
    margin-right: 11px;
}

.publish-date {
    font-size: 15px;
    text-decoration: none;
    color: #00010685;
    margin-top: 2px;
    margin-bottom: 5px;
}

.read-more {
    font-size: 27px;
    text-decoration: underline;
    color: black;
}


.rss-feed li:last-child {
    border-bottom: none;
}

.rss-feed img {
    max-width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 8px; /* Optional: Add rounded corners */
    margin-top: 1px;
    margin-bottom: 1px;
    display: block;
}


/*.rss-feed a {*/
/*    color: blue;*/
/*}*/
.rss-feed a:hover {
    text-decoration: underline;
    color: rgba(251, 5, 5, 0.7);
}

.rss-feed li:hover {
    background-color: #cccccc;
    /*background-color: #93bff4;*/
}

@media (max-width: 768px) {

    .rss-feed {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 4px;
        margin-top: 10px;
        min-width: 0;
        /*min-width: 700px;*/
    }

    .rss-feed h2 {
        font-size: 23px;
        font-weight: bold;
    }

    .rss-feed h3 {
        font-size: 13px;
        margin-top: 10px;
    }

    .read-more {
        font-size: 15px;
        text-decoration: underline;
        color: black;
        /*margin-top: 1px;*/
    }

    .rss-feed ul li a {
        font-size: 20px; /* top link (headline) */
    }

    .rss-feed ul li p:first-of-type {
        font-size: 21px; /* article preview */
        font-weight: bold;
    }

    .rss-feed ul li p small {
        font-size: 10px;
    }


    .rss-feed ul li {
        margin-bottom: 15px;
        margin-right: .75%;
    }

    .rss-feed ul li img {
        width: 350px; /* Adjust width */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Ensure responsiveness */
    }

    /*.description {*/
    /*    margin-right: 5px;*/
    /*}*/

}