body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #0434fa, #2494e4, #8bc4dd);
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
html {
    height: 100%;
}
