<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="
            default-src 'self';
            script-src 'self' https://fonts.googleapis.com;
            style-src 'self' https://fonts.googleapis.com 'unsafe-inline';
            font-src https://fonts.gstatic.com;
            img-src 'self' data: https://api.weather.gov;
            connect-src 'self' https://localhost:7076 https://api.ipify.org https://zip-api.eu https://api.weather.gov https://ipapi.co " />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

<!--       connect-src 'self' https://localhost:7076 https://api.ipify.org https://zip-api.eu https://api.weather.gov https://ipapi.co https://ron-vaught.com https://www.ron-vaught.com;" />       -->